.venv
frontend/node_modules
.env
# static
.azure/
__pycache__/
.ipynb_checkpoints/
env.json
live-env.json
node_modules
.env
repomix-output.txt
env.json
static/assets/
/static/assets
live-env.json
repomix-output.xml
tmpclaude-116d-cwd
tmpclaude-19c3-cwd
tmpclaude-2717-cwd
tmpclaude-2d44-cwd
tmpclaude-3d6c-cwd
tmpclaude-642b-cwd
tmpclaude-75f5-cwd
tmpclaude-7c61-cwd
tmpclaude-a203-cwd
tmpclaude-a352-cwd
tmpclaude-a906-cwd
tmpclaude-b90c-cwd
tmpclaude-dfae-cwd
