.venv
frontend/node_modules
.env
# static
.azure/
__pycache__/
.ipynb_checkpoints/
env.json
live-env.json
node_modules
.env
repomix-output.txt
env.json
static/assets/
/static/assets
live-env.json
repomix-output.xml
